

h1{
    font-size: 63px;
    color: white;
    padding: 30px;
    text-align: center;
    
}
h2{
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
}

.carousel-caption{
    text-shadow: 2px 2px 2px black;
    font-size: 80px;
    color: #ffc107;
    text-transform: uppercase;
}






